/*General classes*/
.no-margin { margin: 0 !important; }
.no-padding { padding: 0 !important; }

.large-padded { padding: 3em; }

/*login classes*/
.login-form {
	margin: 64px 0;
	padding: 20vh 0;
	text-align: center;
}