<form class="login-form row">
	<div class="input-field col s6 offset-s3">
		{{input
			id='email'
			value=email
		}}
		<label for="#email">Correo Electrónico</label>
	</div>
	<div class="input-field col s6 offset-s3">
		{{input
			value=password
			type='password'
			id='pass'
		}}
		<label for="#pass">Contraseña</label>
	</div>
	<button class="btn waves-effect green class col s2 offset-s5 btn-large" {{action 'login' email password}}>Login</button>
</form>